.t-wrapper {
    padding: 0 3rem 0 3rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.t-heading {
    align-self: start;
}

.t-heading> *{
    font-size: 2rem;
    font-weight: bold;
}

.t-heading span:nth-of-type(2) {
    color: var(--orange);
}
.t-blur1 {
    left: 38rem;
    top: 16rem;
}
.t-blur2 {
    top: 9rem;
    left: 0;
}
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width :30rem;
    min-height: 14rem;
    gap: 0.8rem;
    background: rgba(255,255,255,0.26);
    border: 7px solid var(--blueCard);
    border-radius: 20px;
    box-shadow: var(--boxShadow);
}

.testimonial>img {
    width: 9rem;
    height: 3rem;
    object-fit: contain;

}

.testimonial>h4 {
    margin: 0;
    color: var(--black);
    font-size: 1rem;
}

.testimonial>span {
    color: var(--gray);
    text-align: center;
    line-height: 1.4;
}

.t-wrapper .swiper {
    width: 100%;
    height: 70%;
}

.t-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.t-wrapper .swiper-pagination-bullet-active {
    background: var(--orange);
}
